
body {
    width: auto;
    max-width: 1000px;
    margin: 1em auto;
    position: relative;
    text-rendering: optimizeLegibility;
}

table {
    width: 100%;
}

tr.topdate td {
    border-top: 2px solid black;
}
th {
    font-weight: bold;
}
td {
    text-align: center;
    min-width: 10em;
    min-height: 30px;
    padding: .6em;
}

tr:hover:not(.header) td:not(.date), tr.highlighted td {
    background: #00ffff55;
    cursor: pointer;
}

svg {
    border-style:outset;
    border-color:#00ffff;
    margin: .5em;
    display: block;
    margin: auto;
}
p.checkbox-label {
    font-weight: 700;
}
path.graphline.Unknown {
    stroke: black;
}

.dot.Unknown {
    fill: black;
    stroke: black;
}
path.graphline.k-nearest {
    stroke: steelblue;
}

.dot.k-nearest{
    fill: steelblue;
    stroke: steelblue;
}
path.graphline.k-nearest {
    stroke: steelblue;
}
p.checkbox-label.k-nearest {
    color: steelblue;
}
.dot.wordbagclass{
    fill: green;
    stroke: green;
}
path.graphline.wordbagclass{
    stroke: green;
}
p.checkbox-label.wordbagclass {
    color: green;
}
path.graphline.encclass {
    stroke: magenta;
}
.dot.encclass {
    stroke: magenta;
    fill: magenta;
}
p.checkbox-label.encclass{
    color: magenta;
}
path.graphline.autoclass{
    stroke: darkorange;
}
.dot.autoclass {
    stroke: darkorange;
    fill: darkorange;
}
p.checkbox-label.autoclass {
    color: darkorange;
}
path.graphline.dnnclass {
    stroke: darkgoldenrod;
}
.dot.dnnclass {
    stroke: darkgoldenrod;
    fill: darkgoldenrod;
}
p.checkbox-label.dnnclass {
    color: darkgoldenrod;
}

.dot {
    cursor: pointer;
}

#header {
    margin-left: -4em;
    font-family: monospace;
}
p.checkbox-label {
    display: inline;
    margin: 1em;
}
p.control-label {
    display: inline;
    margin: 1em;
    margin-left: 3em;
}
div.checkbox-box {
    height: 3em;
}
